/*SEMANTIC UI AND FLAT ICON WAS USED FOR DESIGN, LAYOUT AND OFCOURSE ICONS*/

.inputButton {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

form img {
  width: 3%;
  padding-top: 10px;
}

h1 {
  padding-right: 350px;
  padding-top: 10px;
  margin-left: 20px;
  color: red;
}
